/* body { */
    /* background-color: #2F4F4F; */
    /* color: white; */
/* } */

/* .hidden-card { */
    /* display: none; */
/* } */

.btn.kuro-btn i, 
.btn.kuro-btn br, 
.btn.kuro-btn span, 
.btn.kuro-btn span br {
    pointer-events: none !important;
    cursor: pointer !important;
    touch-action: none !important;
}

.btn.kuro-btn {
    cursor: pointer !important;
}
